[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ThirdParty/nlohmann/json"]
	path = ThirdParty/nlohmann/json
	url = https://github.com/nlohmann/json.git
[submodule "ThirdParty/magic_enum"]
	path = ThirdParty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
